*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}
.formBox{
    position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:15px 50px 20px 50px;
}

.text-login{
	color:#fff;	
    font-size: 1.8rem;
    margin: -20px 0 60px 0;
    display: block;
    text-align: center;
}
.link-login-register{
    position: relative;
    margin-top: 10px;
}
.text-center-welcome{
	color:#fff;	
    font-size: 14px;
    margin: -40px 0 40px 0;
    display: block;
    text-align: center;
}

.link{
    color: #e74c3c;
}

.login-title{
    margin-top: 40px;
}

.input-container{
	position:relative;
    margin-bottom:5vh;
    width: 15vw;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:20px;
	color:#fff;	
    pointer-events: none;
	transition: all 0.5s ease-in-out;
}
.input-container-register{
position: relative;
margin-bottom:5vh;
width: 25vw;
}
.input-container-register label{
    color: white;
    font-size: 20px;
}
.input-container input,
.input-container-register input{ 
  border:0px;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  font-size:16px;
  color:#fff;
}
.input-container input:focus,
.input-container-register input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn-form{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
-webkit-text-fill-color: #fff;
box-shadow: 0px 0px 0px 30px rgba(0, 0, 0, 0.9) inset;
outline: none;
outline-style: none;
outline-color: transparent;
}
.formFormat{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(6, 10vh) 5vh 10vh;
grid-row-gap: 2vh;
}
.centalBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centalBox button{
    color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
    text-transform:uppercase;
    border-radius:2px;
	cursor:pointer;
}
.centalBox h2{
    color: white;
    font-size: 1.5rem;
}
