.formBoxLogin,
.formBoxRegister,
.formBoxEditTask{
    position: absolute;
	left:50%;
	top:45%;
	transform: translate(-50%,-50%);
	border-radius:3px;
    color: white;
}
.formBoxLogin{
    background-color: rgba(0, 0, 0, 0.89);
    padding:5vh 6vw;
    width: 75%;
    max-width: 330px;
    height: 70%;
}
.formBoxRegister{
    padding: 20px 25px 30px 30px;
    width: 85%;
    min-width: 250px;
    max-width: 360px;
    height: 80%;
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.89);
}
.formBoxLogin form{
    position: relative;
    height: 100%;
}
.formBoxRegister form{
    height: 100%;
}
.formBoxLogin .form-container-login{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  repeat(5,20%);
}
.formBoxLogin .form-container-login div h2{
    font-size: 4vh;
    text-align: center;
}
.formBoxLogin .form-container-login div h3{
    font-size: 2vh;
    text-align: center;
}
.formBoxLogin .form-container-login div{
	position:relative;
    width: 100%;
}
.input-container {
    top: 15px;
}
.input-container label{
    position:absolute;
    top:35%;
	font-size:16px;
    pointer-events: none;
	transition: all 0.5s ease-in;
}
.input-container input{
    position: absolute;
    top:40%;
}
.formBoxLogin .form-container-login div a{
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 2.5vh;
}
.formBoxLogin .form-container-login div:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-form{
	background-color:#011BEB;
	outline: none;
    border: none;
    color: #fff;
    font-size: 3vh;
    padding:1vh 3vw;
	text-transform:uppercase;
	border-radius:5px;
    cursor:pointer;
}
.btn-return-home{
    position: absolute;
    top: 101%;
    right: 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.89);
}
.btn-return-home a{
    color: white;
    font-size: 12px;
}
.input-container-register{
position: relative;
width: 100%;
}
.form-container-register{
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 10.833%) 10% 15%;
    grid-row-gap: 1.43%;
}
.form-container-register div h2{
    color: white;
    text-align: center;
    font-size: 4vh;
}
.input-container-register label{
    position: absolute;
    color: white;
    font-size: 3vh;
    bottom: 5px;
    z-index: 10;
    transition: top 1s;
}
.input-container-register input{
    position: absolute;
    bottom: 5px;
    z-index: 20;
    font-size: 14px;
}
.input-container input,
.input-container-register input{ 
    border:0px;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    font-size:14px;
    color:#fff;
}
.input-container input:focus,
.input-container-register input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #011BEB;
}
.input-container input:-webkit-autofill ~ label,
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    font-size: 10px;
    top:0;
}
.input-container-register input:-webkit-autofill ~ label,
.input-container-register input:focus ~ label,
.input-container-register input:valid ~ label{
    font-size: 10px;
    top:0;
}
.link-login-register{
    position: relative;
    right: 0;
}
.link-login-register a{
    position: absolute;
    right: 0;
    top: 30%;
    font-size: 12px;
    color: rgb(18, 109, 245);
}
.formBoxLogin a:visited,
.formBoxRegister a:visited{
    color:white;
}
.formBoxLogin input:-webkit-autofill,
.formBoxLogin input:-webkit-autofill:hover,
.formBoxLogin input:-webkit-autofill:focus,
.formBoxRegister input:-webkit-autofill,
.formBoxRegister input:-webkit-autofill:hover,
.formBoxRegister input:-webkit-autofill:focus{
-webkit-text-fill-color: #fff;
box-shadow: 10px 10px 10px 10vw rgba(0, 0, 0, 0.9) inset;
}
.btn-submit{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
.btn-submit button{
	background-color:#011BEB;
	outline: none;
    border: 0;
    color: #fff;
	padding:.5rem 1.5rem;
    font-size: 3vh;
    font-weight: 700;
    text-transform:uppercase;
    border-radius:2px;
    cursor:pointer;
}
.form-container-register .btn-submit button{
	padding:1vh 5vw;
}
#formContact{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
    row-gap: 5vh;
    background-color:rgb(18, 109, 245);
    margin: 6vh auto 0 auto;
    border-radius: 1%;
    padding: 5vh 5vw;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#formContact div textarea{
    width: 100%;
    height: 80px;
}
#formContact label{
    position: relative;
    font-size: 4vw;
}
#contactPage .btn-submit button{
    width: max-content;
    font-size: 3.5vw;
}
.formBoxTask{
    position: absolute;
    left: -100%;
    top: 8%;
    margin-top: 20px;
    width:80%;
    height: 72%;
    max-height: 400px;
    color: white;
    background-color: rgb(18, 109, 245);
    border: 2px solid #011BEB;
    font-size: 12px;
    transition: left 1s;
    z-index: 50;
}
.formBoxTask .input-container-addTask label,
.formBoxTask .input-container-addTask select,
.formBoxTask .input-container-addTask input,
.formBoxTask .input-container-addTask textarea {
    font-size: 14px;
}
.formBoxEditTask{
    position: relative;
    top: 50%;
    height: 70%;
    width: 70%;
    max-width: 430px;
    background-color: rgb(18, 109, 245);
    padding: 2vh 2vw;
    font-size: 3vh;
}
.formBoxTask .btn-submit button,
.formBoxEditTask .btn-submit button{
    padding: 1vh 3vw;
    font-size: 14px;
}
.formBoxTask form,
.formBoxEditTask form{
    height: 100%;
}
.formBoxTask form > div,
.formBoxEditTask form > div{
    height: 100%;
    padding: 2vh 10%;
}
main .formBoxTask:focus-within{
    left: 10%;
}
.input-container-addTask{
    width: 100%;
    height: 22.5%;
}
.input-container-addTask:nth-child(5){
    height: 10%;
}
.input-container-addTask label{
font-size: 3vh;
font-weight: 700;
}
.input-container-addTask select,
.input-container-addTask input,
.input-container-addTask textarea{
    width: 100%;
    height: 35%;
    font-size: 2.5vh;
}
.input-container-addTask textarea{
    height: 50%;
}
@media only screen and (orientation: landscape) and (max-width: 768px) {
    #contactPage .btn-submit button{
        width: 80%;
        font-size:4vh;
    }
    .formBoxLogin{
        width: 50%;
    }
    .formBoxTask .input-container-addTask label,
    .formBoxTask .input-container-addTask select,
    .formBoxTask .input-container-addTask input,
    .formBoxTask .input-container-addTask textarea {
    font-size: 12px;
}
}
@media only screen and (min-width: 480px){
    .input-container-register label{
        font-size: 16px;
    }
    #formContact{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 60%;
        row-gap: 20px;
        padding: 4vh 3vw;
        color: white;
        font-weight: 600;
    }
    #formContact label{
        position: relative;
        font-size: 2.5vw;
    }
    #contactPage .btn-submit button{
        width: max-content;
        font-size: 1rem;
    }
    .formBoxLogin{
        padding: 5vh 40px;
    }
    .formBoxLogin .form-container-login div h2,
    .formBoxLogin .form-container-login div h3{
        font-size: 16px;
    }
    .formBoxLogin .form-container-login div a{
        font-size: 14px;
    }
    .input-container input:focus ~ label,
    .input-container input:-webkit-autofill ~ label,
    .input-container input:valid ~ label{
        font-size:12px;
    }
    .input-container-register input:focus ~ label,
    .input-container-register input:-webkit-autofill ~ label,
    .input-container-register input:valid ~ label{
        font-size:12px;
    }
    .form-container-register .btn-submit button{
        padding: 5px 40px;
    }
    .btn-submit button,
    .btn-form button,
    .btn-form{
        font-size:18px;
    }
    .form-container-register div h2{
        font-size: 18px;
    }
    .formBoxTask{
        margin-top: 10px;
    }
}
@media only screen and (min-width: 769px){
    #contactInf {
        display: grid;
        row-gap: 0px !important;
    }
    #formContact{
        width: 89%;
        max-width: 380px;
        padding: 30px 20px 40px 25px;
        margin: 25px auto 0 auto;
    }
    #formContact label{
        font-size: 18px;
    }
    .btn-form{
        padding:6px 21px;
    }
    .formBoxTask{
        position: relative;
        width:26%;
        height: 72%;
        min-height:300px;
        max-height: 420px;
        left: 1%;
        margin-top: 0;
        top: 12.5%;
        font-size: 14px;
    }
    main .formBoxTask:focus-within{
        left: 1%;
    }
    .formBoxTask .input-container-addTask button{
        padding: 5px 15px;
    }
    .formBoxTask form > div,
    .formBoxEditTask form > div{
    height: 100%;
    padding: 10px 35px;
    }
}