*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

ul li {
    list-style: none;
}
.form{
    color: white;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.6);

}
.listTask{
    padding-left: 10px;
    padding-bottom: 15px;
}
.taskRow{
    width: 100%;
    margin: 0px;
}

.taskIndividualBox{
    width: 180px;
    overflow: auto;
}

.homePage{
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:10px;
    padding:30px 40px;
}

.linkHome{
    color: white;
    font-size: 36px;
}
.homePageBox{
    border-radius: 20px;
    padding: 120px 0px;
    margin-top: 20px;
}