*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    margin: 0;
}
 /* homestyle */
main{
    height: 90vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 20;
}
main figure{
    position: relative;
    height: auto;
    width: 100vw;
    top:20vh;
}
main figure img{
    width: 100%;
}
main .titleWithoutLogin{
    top:10vh;
    position: relative;
    margin: 0vh auto;
    z-index: 20;
}
.titleWithoutLogin > *{
    color: black;
    font-size: 3vh;
}
/* navegador */
header{
    position: fixed;
    height: 35vh;
    top: 90vh;
    width: 100vw;
    left: 0;
    right: 0;
    z-index: 30;
}
.other-submenu,
.btn-menu{
    position: absolute;
    top: 2vh;
    transition: top 1s;
    transition-delay: 0.5s;
    color: white;
}
.other-submenu{
    right: 5vw;
}
.other-submenu button {
    background-color: rgba(0, 0, 0, 0.89);
}
.other-submenu button a {
    color: white;
}
.btn-menu{
    left: 5vw;
    background-color: rgba(0, 0, 0, 0.89);
}
.navegbar{
    position: absolute;
    width: 100vw;
    height: 25vh;
    top: 35vh;
    transition: top 1s;
    transition-delay: 0.5s;
    z-index: 30;
}
.btn-menu:focus {
    background-color: rgb(18, 109, 245);
    top: -25vh;
}
header div .btn-menu:focus ~ .navegbar{
    top: -15vh;
    z-index: 50;
}
header div .btn-menu:focus ~ .other-submenu{
    top: -25vh;
}
.navegbar li a{
    color: white;
    font-size: 3vh;
}

ul{
    display: inline;
    margin: 0;
    padding: 0;
}
ul li button{
    position: relative;
    list-style: none;
    outline: none;
    width: 100%;
    height: 8.33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 50;
    border: 0.5px solid gray;
    background-color: rgb(31, 27, 27);
}
ul li{
    position: relative;
    z-index:inherit;
}
.whyUseAppGrid{
    margin: 5vh 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-template-rows: 20vh repeat(3,40vh);
}
.whyUseAppGrid h2{
    margin: auto;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 5vh;
}
.whyUseAppGrid picture,
.whyUseAppGrid div{
    display: flex;
    align-items: center;
    justify-content: center;

}
.whyUseAppGrid div{
    padding: 2vh 2vw;
}

.whyUseAppGrid div h4{
    font-size: 3vh;
    text-align: center;
    margin: 0;
}
.whyUseAppGrid picture img{
    width: 100%;
}
.aboutMe{
    width: 90%;
    margin: 3vh auto 0 auto;
    padding: 3vh 5vw 0 5vw;
}
.contact h1,
.aboutMe h1{
    font-size: 5vh;
    text-align: center;
    margin-bottom: 3vh;
}
.aboutMe p{
    font-size: 2.5vh;
    text-align: justify;
}
.aboutMe p:nth-child(2){
    margin-bottom: 2vh;
}
.iconTech{
    width: 90%;
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 16vw;
    height: 10vh;
    margin: 0vh 0.5vw;
}
.icon img {
    width: 100%;
    height: 100%;
}
.iconTech picture:nth-child(2){
    width: 12vw;
    height: 10vh;
}
.iconTech picture:nth-child(4){
    width: 20vw;
    height: 8vh;
}
#contactPage{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}
#contactPage section h2{
    margin: 5vh 0vw;
    font-size: 5vh;
}
#contactPage section{
    margin: 2vh 0vw;
    width: 100%;
}
#contactInf{
    display: grid;
    grid-template-columns: 45% 45%;
    row-gap: 5vh;
    column-gap: 10%;
}
.contactGit,
#contactInf h2,
#formContact div,
#formContact button {
    grid-column-start: 1;
    grid-column-end: 3;
}
#contactInf div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerProfile{
    position: fixed;
    height: 20vh;
    top: 80vh;
    width: 100vw;
    left: 0;
    right: 0;
    z-index: 20;
}
.nav-profile{
    position: absolute;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 20;
}
.nav-profile div {
    width: 35vw;
    overflow-wrap: break-word;
}
.nav-profile div a,
.nav-profile div h2{
    width: 100%;
    font-size: 3vh;
    margin: 0 5vw;
    text-align: center;
    color: white;
}
.tasksBox{
    position: relative;
    top:10vh;
    margin: 0 auto;
    width: 90%;
    height: 69.5vh;
    z-index: 21;
    overflow:auto;
}
.tasksBox h2{
    font-size: 4vh;
    text-align: center;
}
#tableTask{
    margin: 5vh 0vw;
    table-layout: fixed;
    width: 100%;
}
#tableTask tr .taskTable{
    overflow: auto;
}
#tableTask,
#tableTask td,
#tableTask th{
    border: 1px solid cornflowerblue;
    height: 50px;
}
#tableTask th {
    padding: 0px 5px;
    text-align: center;
    background-color: rgb(18, 109, 245);
    color: white;
}
#tableTask td {
    padding: 10px 5px;
    text-align: left;
}
#tableTask tr{
    position: relative;
    background-color: skyblue;
}
#tableTask thead .theadSmall th{
    width: 70%;
}
.btn-edit,
.btn-delete,
.btn-details{
    display: block;
    color: white;
    margin: 0 auto;
    background-color:rgb(18, 109, 245);
}
#tableTask tr .btn-delete:active{
    background-color: rgb(248, 56, 38);

}
#tableTask tr .btn-edit:active{
    background-color: rgb(241, 241, 82);
}
#tableTask tr button a{
    color:white;
}
#tableTask tr .btn-details:focus{
    color: white;
    background-color: rgb(20, 197, 64);
}
#tableTask thead .theadLarge,
#tableTask tbody .tbodyLarge{
    display: none;
}
#tableTask thead .theadLarge h4{
    font-size: 2.5vh;
}
#tableTask tbody .tbodySmall td{
    position: relative;
}
.detailsBox{
    display: grid;
    visibility: hidden;
    position: absolute;
    padding: 5px;
    width: 90vw;
    top: -30vh;
    right:0vw;
    border-radius: 5px;
    background-color: rgb(18, 109, 245);
    grid-template-columns: 70% 30%;
    row-gap: 2vh;
    z-index: 35;
    transition: all 0s;
    transition-delay: 0.1s;
}
.detailsBox p,
.detailsBox h4{
    margin: 1vh 5vw;
}
.detailsBox .btn-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsBox .btn-centered button{
    background-color: #011BEB;
    width: 75px;
}
#tableTask tbody .tbodySmall td .btn-details:focus + .detailsBox{
    visibility: visible;
    top: 8vh;
}
@media only screen and (orientation: landscape) {

    main{
        height: 85vh;
        overflow: auto;
        z-index: 20;
    }
    main figure{
        position: absolute;
        top: 5vh;
        left: 5vw;
        height: 90%;
        width: 90%;
    }
    main figure img{
        margin: 0 auto;
        height: 100%;
    }

    .navegbar li a{
        color: greenyellow;
        font-size: 5vh;
    }
    header{
        top: 85vh;
    }
    header div .btn-menu:focus ~ .navegbar{
        top: -10vh;
        z-index: 50;
    }
     /* homestyle */
    main .titleWithoutLogin{
        top:40vh;
        width: max-content;
        padding: 10px;
        background: rgb(178,186,199);
        border-radius: 5px;
        animation: mymove 3s 1;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }
    @keyframes mymove {
        0% {top: 10vh; background-color: white;}
        20% {top: 40vh; background-color:rgb(178,186,199);}
        40% {top: 30vh; background-color: lightgrey;}
        60% {top: 40vh; background-color: rgb(178,186,199);}
        80% {top: 35vh; background-color: lightgrey;}
        100% {top: 40vh; background-color: rgb(178,186,199);}

      }
    .titleWithoutLogin > *{
        font-size: 5vh;
    }
    /* Why use this application */
    .whyUseAppGrid{
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
        grid-template-rows: 20vh repeat(3,50vh);
        grid-row-gap: 2vh;
    }
    .whyUseAppGrid h2{
        font-size: 8vh;
    }    
    .whyUseAppGrid div h4{
        font-size: 5vh;
    }
    .whyUseAppGrid picture img{
        width: 70%;
        height: 100%;
    }
    /* About ME page */
    .contact h1,
    .aboutMe h1{
        font-size: 8vh;
    }
    .aboutMe p{
        font-size: 4vh;
    }
    .iconTech{
        margin: 10vh auto;
    }
    .icon{
        width: 10vw;
        height: 16vh;
    }
    .iconTech .icon:nth-child(2){
        width: 7.5vw;
        height: 16vh;
    }
    .iconTech .icon:nth-child(4){
        width: 14vw;
        height: 12vh;
    }
    #contactPage{
        width: 90%;
    }
    #contactPage section h2{
        font-size: 6vh;
    }

}
@media only screen and (min-width: 480px){
    #tableTask thead .theadLarge,
    #tableTask tbody .tbodyLarge{
        display: table-row;
    }
    #tableTask thead .theadSmall,
    #tableTask tbody .tbodySmall{
        display: none;
    }
    #contactPage section{
        margin: 2vh 0vw;
        padding: 5vh 4vw;
        width: 50%;
    }
    #tableTask thead .theadLarge h4{
        font-size: 3vw;
    }
    #tableTask tbody .tbodyLarge td,
    #tableTask tbody .tbodyLarge td button a{
        font-size: 2.5vw;
    }
    .tasksBox{
        width: 80%;
    }

}

@media only screen and (min-width: 768px){
    .navegbar li a{
        color: cornflowerblue;
        font-size: 3vh;
    }
    #tableTask thead .theadLarge h4{
        font-size: 3vh;
    }
    #tableTask tbody .tbodyLarge td,
    #tableTask tbody .tbodyLarge td button a{
        font-size: 2.5vh;
    }
    .tasksBox{
        width: 70%;
        margin-right: 2.5%;
        float: right;
        background-color: cadetblue;
    }
    .btn-add-task-form{
        display: none;
    }
}

