<form action="./services/addTask.php" method="POST">
    <div>
        <div class="input-container-addTask">
            <label for="task">Task</label>
            <textarea required placeholder="Write something here" name = "task" id="task" type="text"></textarea>
        </div>
        <div class="input-container-addTask">
            <label for="state">State</label>
                <select name="state">
                    <option value="In progress">In progress</option>
                    <option value="At risk">At risk</option>
                    <option value="Delayed">Delayed</option>
                </select>
        </div>
        <div class="input-container-addTask">    
            <label for="priority">Priority</label>
            <select name="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>
        <div class="input-container-addTask">
            <label for="deadline">Deadline</label>
            <input type="date" name="deadline" required>
        </div>
        <div class="input-container-addTask btn-submit">
            <button class="btn" type="submit">Add task</button>
        </div>
    </div>
</form>