<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/form.css">
    <title>Login</title>
</head>
<body>

    <div class="formBox">
        <form action="../controller/login.php" method="POST">
            <div class="login-title">
                <span class="text-login">LOGIN</span>
                <span class="text-center-welcome">welcome! login information.</span>
            </div>
            <div class="input-container">
                <input name="username" type="text" required=""/>
                <label>Username</label>		
            </div>
            <div class="input-container">		
                <input name="password" type="password" required/>
                <label>Password</label>
            </div>
            <span class="text-right"> <a class="link" href="./registration.html"> Free registration! </a></span>
            <span class="text-right"> <a class="link" href="../" > return to home page </a> </span>

            <button type="submit" class="btn-form">submit</button>
        </form>
    </div>
    
</body>
</html>