<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/form.css">
    <title>Registratation</title>
</head>
<body>
    <div class="formBox">
        <form action="../controller/registration.php" method="POST">
        <div class="formFormat">
            <div class="centalBox">
                <h2>REGISTER</h2>
            </div>
            <div class="input-container-register">
                <label>First name</label>
                <input name="firstName" type="text" required/>
            </div>
            <div class="input-container-register">
                <label>Last name</label>
                <input name="lastName" type="text" required/>
            </div>
            <div class="input-container-register">
                <label>Username</label>
                <input name="username" type="text" required=""/>
            </div>
            <div class="input-container-register">
                <label>Password</label>
                <input name="password" type="password" required/>
            </div>
            <div class="input-container-register">
                <label>Mail</label>
                <input name="mail" type="email" required/>
            </div>
            <span class="text-right"><a href="./login.html" class="link">GO TO LOGIN</a></span>
            <div class="centalBox">
                <button type="submit">submit</button>
            </div>
        </div>
        </form>
    </div>


</body>
</html>